footer {
    background-color: #333;
    /* background-color: rgb(108, 217, 211); */
    color: #fff;
    padding: 4vh 3vw;
    text-align: center;
}

footer p {
    margin: 0;
    font-family: 'Roboto Condensed';
    font-size: clamp(calc(0.5vh + 0.5vw), 1.5rem, calc(2vh + 2vw));
}